.top-banner
{
    margin-bottom: 20px;
}
.top-banner:hover
{
    background-color: rgb(235, 226, 226);
    border-radius: 10px;
    transition: 1s;
}
.banner{
    align-items: center;
}
.carousel
{
    margin-bottom: 20px;
}